.pic{

    margin-left: 30px;
}
.note{
    display: inline;

    margin-top: 10px;
    margin-left: 30px;
    font-size: larger;
    color: darkred;
    font-family: Tahoma;
    text-decoration: underline;

}
.note2{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-size: large;
    color:#613b3b;
    font-weight: 500;
    line-height: 1.3;
    font-family: Tahoma;
}
.pointer
{ cursor: pointer; }